name: Security Scan (Trivy)

on:
  workflow_dispatch:
    inputs:
      target_ref:
        description: "Branch or tag to scan"
        required: true
        default: "main"
        type: string


permissions:
  contents: read
  actions: read
  pages: write
  id-token: write

jobs:
  dispatch-and-wait:
    strategy:
      matrix:
        include:
          - repo: "transactions-java"
            workflow: "vulnerability-scan.yaml"

    uses: shaolin182/transactions-java/.github/workflows/vulnerability-scan.yaml@36777d80f0b74055becdfdff20f70d7d49abba3c

          
        


